.header {
    background-color: red;
    text-align: center;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    padding-top: 5%;
    margin-top: 5%;
    
}

body {
    background-color: #eee;
    color: black;
}